body{
    background-color: #75DBDB;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #5693F6;
    border: 2px solid #230C63;
    border-radius: 8px;
    max-width: 1000px;
    height: 750px;
    margin: auto;
    padding: 16px;
}

header{
    font-size: 32px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-prompt, .clear{
    background-color: #230C63;
    border: 2px solid #FFF9CF;
    border-radius: 16px;
    font-size: 24px;
    padding: 8px 16px;
    color: #FFF9CF;
}

.clear{
    border: 2px solid #230C63;
    background-color: #FFF9CF;
    color: #230C63;
}

.btn-prompt:active, .clear:active{
    transform: translateX(2px) translateY(4px);
}

.grid-container{
    display: grid;
    background-color: #FFF9CF;
    border: 4px solid #230C63;
    height: 600px;
    width: 600px;
    /* justify-content: stretch; */
}

.grid-item{
    border-top: 1px solid rgba(98, 98, 98, 0.24);
    border-left: 1px solid rgba(98, 98, 98, 0.24);
}
